.page .row.cover.do-not-print#cover img.img-inherited {
    object-fit: contain;
    object-position: 100% 100px;
    height: 100px;
    width: 100%;
}

.state-name {
    font-size: 2.2em;
    font-family: alegreya sc,serif;
    letter-spacing: 0;
    font-variant: none;
}

.state-name-small {
  font-size: 1.8em;
}

.clotho-node.clotho-organization-node {
  box-shadow: none;
}

.clotho-node.clotho-organization-node .clotho-portrait-frame {
  background: none;
}

.clotho-node.clotho-organization-node .clotho-text-frame {
  background: none;
}

.clotho-node.clotho-organization-node .clotho-text-frame .clotho-label  {
  border: none;
}

.clotho-node.clotho-organization-node .clotho-text-frame .clotho-label a {
  font-family: alegreya sc,serif;
  font-weight: 700;
  font-size: 22px;
  color: #591717;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}